table,td,th{
    border: 2px solid #444;
    border-collapse: collapse;
    text-align: center;
    margin-top: 10px;
}
td,th{
    width: 200px;
}
th {
    background-color: #DAF1FF;  /* 원하는 색상으로 변경하세요 */
    color: black;  /* 텍스트 색상도 원하는 색상으로 변경하세요 */
}
table {
    width: 97%; 
}
.button {
    margin-right: 10px;  /* 오른쪽 마진을 10px로 설정 */
}
.ratio {
    width: 4%;  
}    
h3 {
    font-size: 25px;  /* 텍스트를 중앙에 배치 */
}